<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@nomadreservations/virtual-scroll documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	    <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="./" class="navbar-brand">@nomadreservations/virtual-scroll documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="./index.html">@nomadreservations/virtual-scroll documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./index.html"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a 
                                        
                                         href="./overview.html" 
                                         href="./overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                                <li class="link">
                                  <a href="./index.html"  class="active" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                        <a href="./changelog.html"
                                    >
                                        <span class="fa fa-file-text-o"></span>CHANGELOG
                                    </a>
                                </li>
                                <li class="link">
                                        <a href="./license.html"
                                    >
                                        <span class="fa fa-file-text-o"></span>LICENSE
                                    </a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <div class="menu-toggler linked" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            >
                                <span class="fa fa-archive"></span>
                                <span class="link-name">Modules</span>
                                <span class="fa fa-angle-down"></span>
                            </div>
                        </a>
                        <ul class="links collapse "
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="./modules/AppModule.html" >AppModule</a>
                                </li>
                                <li class="link">
                                    <a href="./modules/VirtualScrollModule.html" >VirtualScrollModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-components-links"
                            >
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="./components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="./components/VirtualScrollComponent.html" >VirtualScrollComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-classes-links"
                            >
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="./classes/AppPage.html" >AppPage</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-injectables-links"
                            >
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="./injectables/WindowRef.html" >WindowRef</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-interfaces-links"
                            >
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="./interfaces/ChangeEvent.html" >ChangeEvent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-miscellaneous-links"
                            >
                            <span class="fa fa-cubes"></span>
                            <span>Miscellaneous</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-miscellaneous-links"
                            >
                                <li class="link">
                                  <a href="./miscellaneous/variables.html" data-type="entity-link" >Variables</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                        <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="./index.html">@nomadreservations/virtual-scroll documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./index.html"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a 
                                               
                                                href="./overview.html" 
                                                href="./overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                                       <li class="link">
                                         <a href="./index.html"  class="active" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                               <a href="./changelog.html"
                                           >
                                               <span class="fa fa-file-text-o"></span>CHANGELOG
                                           </a>
                                       </li>
                                       <li class="link">
                                               <a href="./license.html"
                                           >
                                               <span class="fa fa-file-text-o"></span>LICENSE
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <div class="menu-toggler linked" data-toggle="collapse"
                                           data-target="#modules-links"
                                   >
                                       <span class="fa fa-archive"></span>
                                       <span class="link-name">Modules</span>
                                       <span class="fa fa-angle-down"></span>
                                   </div>
                               </a>
                               <ul class="links collapse "
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="./modules/AppModule.html" >AppModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="./modules/VirtualScrollModule.html" >VirtualScrollModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#components-links"
                   >
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="./components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="./components/VirtualScrollComponent.html" >VirtualScrollComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#classes-links"
                   >
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="./classes/AppPage.html" >AppPage</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#injectables-links"
                   >
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="./injectables/WindowRef.html" >WindowRef</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#interfaces-links"
                   >
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="./interfaces/ChangeEvent.html" >ChangeEvent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#miscellaneous-links"
                   >
                                   <span class="fa fa-cubes"></span>
                                   <span>Miscellaneous</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="miscellaneous-links"
                   >
                                       <li class="link">
                                         <a href="./miscellaneous/variables.html" data-type="entity-link" >Variables</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                               <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content getting-started">
                   <div class="content-data">

<!-- START doctoc generated TOC please keep comment here to allow auto update -->
<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->
<p><strong>Table of Contents</strong>  <em>generated with <a href="https://github.com/thlorenz/doctoc">DocToc</a></em></p>
<ul>
<li><a href="#nomadreservationsvirtual-scroll">@nomadreservations/virtual-scroll</a><ul>
<li><a href="#about">About</a></li>
<li><a href="#new-features">New features:</a></li>
<li><a href="#demo">Demo</a></li>
<li><a href="#usage">Usage</a></li>
<li><a href="#get-started">Get Started</a></li>
<li><a href="#api">API</a></li>
<li><a href="#getting-view-port-items-without-events">Getting view port items without events</a></li>
<li><a href="#additional-elements-in-scroll">Additional elements in scroll</a></li>
<li><a href="#use-scrollbar-of-parent-block">Use scrollbar of parent block</a></li>
<li><a href="#use-scrollbar-of-window">Use scrollbar of window</a></li>
<li><a href="#items-with-variable-size">Items with variable size</a></li>
<li><a href="#loading-in-chunk">Loading in chunk</a></li>
<li><a href="#if-container-size-change">If container size change</a></li>
<li><a href="#focus-on-an-item">Focus on an item</a></li>
<li><a href="#sorting-items">Sorting Items</a></li>
<li><a href="#contributing">Contributing</a></li>
<li><a href="#author">Author</a></li>
<li><a href="#versions">Versions</a></li>
<li><a href="#license">License</a></li>
</ul>
</li>
</ul>
<!-- END doctoc generated TOC please keep comment here to allow auto update -->
<h1 id="-nomadreservations-virtual-scroll">@nomadreservations/virtual-scroll</h1>
<p>Virtual Scroll displays a virtual, &quot;infinite&quot; list. Supports multi-column. Based on <a href="https://github.com/rintoj/angular2-virtual-scroll">angular2-virtual-scroll</a> by @rintoj</p>
<h2 id="about">About</h2>
<p>This module displays a small subset of records just enough to fill the viewport and uses the same DOM elements as the user scrolls.
This method is effective because the number of DOM elements are always constant and tiny irrespective of the size of the list. Thus virtual scroll can display infinitely growing list of items in an efficient way.</p>
<ul>
<li>Angular 4+ compatible module</li>
<li>Angular Universal/SSR compatible</li>
<li>Supports multi-column</li>
<li>Easy to use apis</li>
<li>OpenSource and available in GitHub</li>
</ul>
<h2 id="new-features-">New features:</h2>
<ul>
<li>Added ability to put other elements inside of scroll (Need to wrap list itself in @ContentChild(&#39;container&#39;))</li>
<li>Added ability to use any parent with scrollbar instead of this element (@Input() parentScroll)</li>
</ul>
<h2 id="demo">Demo</h2>
<p>TBD</p>
<h2 id="usage">Usage</h2>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll [items]=&quot;items&quot; (update)=&quot;viewPortItems = $event&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/virtual-scroll&gt;</code></pre><p>alternatively</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll #scroll [items]=&quot;items&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of scroll.viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/virtual-scroll&gt;</code></pre><p>alternatively</p>
<pre class="line-numbers"><code class="language-html">&lt;div virtualScroll [items]=&quot;items&quot; (update)=&quot;viewPortItems = $event&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/div&gt;</code></pre><h2 id="get-started">Get Started</h2>
<p><strong>Step 1:</strong> Install angular2-virtual-scroll</p>
<pre class="line-numbers"><code class="language-sh">npm install &#64;nomadreservations/virtual-scroll --save</code></pre><p><strong>Step 2:</strong> Import virtual scroll module into your app module</p>
<pre class="line-numbers"><code class="language-ts">....
import { VirtualScrollModule } from &#39;&#64;nomadreservations/virtual-scroll&#39;;

....

&#64;NgModule({
    ...
    imports: [
        ....
        VirtualScrollModule
    ],
    ....
})
export class AppModule { }</code></pre><p><strong>Step 3:</strong> Wrap virtual-scroll tag around list items;</p>
<pre class="line-numbers"><code class="language-ts">&lt;virtual-scroll [items]=&quot;items&quot; (update)=&quot;viewPortItems = $event&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/virtual-scroll&gt;</code></pre><p>You must also define width and height for the container and for it&#39;s children.</p>
<pre class="line-numbers"><code class="language-css">virtual-scroll {
  display: block;
  width: 350px;
  height: 200px;
}

list-item {
  display: block;
  width: 100%;
  height: 30px;
}</code></pre><p><strong>Step 4:</strong> Create &#39;list-item&#39; component.</p>
<p>&#39;list-item&#39; must a custom angular2 component, outside of this library. A sample list item is give below or check the <a href="https://github.com/rintoj/angular2-virtual-scroll/tree/master/demo">demo app</a> for <a href="https://github.com/rintoj/angular2-virtual-scroll/blob/master/demo/src/app/lists/list-item.component.ts">list-item.component.ts</a>.</p>
<pre class="line-numbers"><code class="language-ts">import { Component, Input } from &#39;&#64;angular/core&#39;;

export interface ListItem {
    index?: number;
    name?: string;
    gender?: string;
    age?: number;
    email?: string;
    phone?: string;
    address?: string;
}

&#64;Component({
    selector: &#39;list-item&#39;,
    template: `
        &lt;div class=&quot;avatar&quot;&gt;{{item.index}}&lt;/div&gt;
        &lt;div class=&quot;item-content&quot;&gt;
            &lt;div class=&quot;name&quot;&gt;{{item.name}}&lt;/div&gt;
            &lt;div&gt;
                &lt;span class=&quot;badge&quot;&gt;{{item.age}} / {{item.gender}}&lt;/span&gt;
                &lt;span&gt;{{item.email}} | {{item.phone}}&lt;/span&gt;
            &lt;/div&gt;
            &lt;div&gt;{{item.address}}&lt;/div&gt;
        &lt;/div&gt;
    `,
    styleUrls: [&#39;./list-item.scss&#39;]
})
export class ListItemComponent {
    &#64;Input()
    item: ListItem;
}</code></pre><p>Child component is not a necessity if your item is simple enough. See below.</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll [items]=&quot;items&quot; (update)=&quot;viewPortItems = $event&quot;&gt;
    &lt;div *ngFor=&quot;let item of viewPortItems&quot;&gt;{{item?.name}}&lt;/div&gt;
&lt;/virtual-scroll&gt;</code></pre><h2 id="api">API</h2>
<table class="table table-bordered compodoc-table">
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>items</td>
<td>any[]</td>
<td>The data that builds the templates within the virtual scroll. This is the same data that you&#39;d pass to ngFor. It&#39;s important to note that when this data has changed, then the entire virtual scroll is refreshed.</td>
</tr>
<tr>
<td>childWidth</td>
<td>number</td>
<td>The minimum width of the item template&#39;s cell. This dimension is used to help determine how many cells should be created when initialized, and to help calculate the height of the scrollable area. Note that the actual rendered size of the first cell is used by default if not specified.</td>
</tr>
<tr>
<td>childHeight</td>
<td>number</td>
<td>The minimum height of the item template&#39;s cell. This dimension is used to help determine how many cells should be created when initialized, and to help calculate the height of the scrollable area. Note that the actual rendered size of the first cell is used by default if not specified.</td>
</tr>
<tr>
<td>bufferAmount</td>
<td>number</td>
<td>The the number of elements to be rendered outside of the current container&#39;s viewport. Useful when not all elements are the same dimensions.</td>
</tr>
<tr>
<td>scrollAnimationTime</td>
<td>number</td>
<td>The time in milliseconds for the scroll animation to run for. Default value is 1500</td>
</tr>
<tr>
<td>parentScroll</td>
<td>Element / Window</td>
<td>Element (or window), which will have scrollbar. This element must be one of the parents of virtual-scroll</td>
</tr>
<tr>
<td>update</td>
<td>Event</td>
<td>This event is fired every time <code>start</code> or <code>end</code> index change and emits list of items from <code>start</code> to <code>end</code>. The list emitted by this event must be used with <code>*ngFor</code> to render the actual list of items within <code>&lt;virtual-scroll&gt;</code></td>
</tr>
<tr>
<td>change</td>
<td>Event</td>
<td>This event is fired every time <code>start</code> or <code>end</code> index change and emits <code>ChangeEvent</code> which of format: <code>{ start: number, end: number }</code></td>
</tr>
</tbody>
</table>
<h2 id="getting-view-port-items-without-events">Getting view port items without events</h2>
<p>If you are using AOT compilation (hope you do it) then in classic usage (with listening to <code>update</code> event) it is required to create field <code>viewPortItems</code> in your component.
There is a way how to avoid it.</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll #scroll [items]=&quot;items&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of scroll.viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/virtual-scroll&gt;</code></pre><h2 id="additional-elements-in-scroll">Additional elements in scroll</h2>
<p>If inside of content of virtual scroll element you want to show also additional elements except list itself (e.g. search field), you need to specify block with list using id &quot;container&quot;.</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll [items]=&quot;items&quot;
    (update)=&quot;viewPortItems = $event&quot;&gt;
    &lt;input type=&quot;search&quot;&gt;
    &lt;div #container&gt;
        &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
        &lt;/list-item&gt;
    &lt;/div&gt;
&lt;/virtual-scroll&gt;</code></pre><h2 id="use-scrollbar-of-parent-block">Use scrollbar of parent block</h2>
<p>If you want to use scrollbar of parent block, instead of scrolling block, set <code>parentScroll</code>.</p>
<pre class="line-numbers"><code class="language-html">&lt;div #scrollingBlock&gt;
    &lt;virtual-scroll [items]=&quot;items&quot;
        [parentScroll]=&quot;scrollingBlock.nativeElement&quot;
        (update)=&quot;viewPortItems = $event&quot;&gt;
        &lt;input type=&quot;search&quot;&gt;
        &lt;div #container&gt;
            &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
            &lt;/list-item&gt;
        &lt;/div&gt;
    &lt;/virtual-scroll&gt;
&lt;/div&gt;</code></pre><h2 id="use-scrollbar-of-window">Use scrollbar of window</h2>
<p>If you want to use scrollbar of window, instead of scrolling block, set <code>parentScroll</code>.</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll
    #scroll
    [items]=&quot;items&quot;
    [parentScroll]=&quot;scroll.window&quot;&gt;
    &lt;input type=&quot;search&quot;&gt;
    &lt;div #container&gt;
        &lt;list-item *ngFor=&quot;let item of scroll.viewPortItems&quot; [item]=&quot;item&quot;&gt;
        &lt;/list-item&gt;
    &lt;/div&gt;
&lt;/virtual-scroll&gt;</code></pre><h2 id="items-with-variable-size">Items with variable size</h2>
<p>Items must have fixed height and width for this module to work perfectly. However if your list happen to have items with variable width and height, set inputs <code>childWidth</code> and <code>childHeight</code> to the smallest possible values to make this work.</p>
<pre class="line-numbers"><code class="language-html">&lt;virtual-scroll [items]=&quot;items&quot;
    [childWidth]=&quot;80&quot;
    [childHeight]=&quot;30&quot;
    (update)=&quot;viewPortItems = $event&quot;&gt;

    &lt;list-item *ngFor=&quot;let item of viewPortItems&quot; [item]=&quot;item&quot;&gt;
    &lt;/list-item&gt;

&lt;/virtual-scroll&gt;</code></pre><h2 id="loading-in-chunk">Loading in chunk</h2>
<p>The event <code>end</code> is fired every time scroll reaches at the end of the list. You could use this to load more items at the end of the scroll. See below.</p>
<pre class="line-numbers"><code class="language-ts">
import { ChangeEvent } from &#39;&#64;angular2-virtual-scroll&#39;;
...

&#64;Component({
    selector: &#39;list-with-api&#39;,
    template: `
        &lt;virtual-scroll [items]=&quot;buffer&quot; (update)=&quot;scrollItems = $event&quot;
            (end)=&quot;fetchMore($event)&quot;&gt;

            &lt;list-item *ngFor=&quot;let item of scrollItems&quot; [item]=&quot;item&quot;&gt; &lt;/list-item&gt;
            &lt;div *ngIf=&quot;loading&quot; class=&quot;loader&quot;&gt;Loading...&lt;/div&gt;

        &lt;/virtual-scroll&gt;
    `
})
export class ListWithApiComponent implements OnChanges {

    &#64;Input()
    items: ListItem[];

    protected buffer: ListItem[] = [];
    protected loading: boolean;

    protected fetchMore(event: ChangeEvent) {
        if (event.end !== this.buffer.length) return;
        this.loading = true;
        this.fetchNextChunk(this.buffer.length, 10).then(chunk =&gt; {
            this.buffer = this.buffer.concat(chunk);
            this.loading = false;
        }, () =&gt; this.loading = false);
    }

    protected fetchNextChunk(skip: number, limit: number): Promise&lt;ListItem[]&gt; {
        return new Promise((resolve, reject) =&gt; {
            ....
        });
    }
}</code></pre><h2 id="if-container-size-change">If container size change</h2>
<p>If virtual scroll is used within a dropdown or collapsible menu, virtual scroll needs to know when the container size change. Use <code>refresh()</code> function after container is resized (include time for animation as well).</p>
<pre class="line-numbers"><code class="language-ts">import { Component, ViewChild } from &#39;&#64;angular/core&#39;;
import { VirtualScrollComponent } from &#39;angular2-virtual-scroll&#39;;

&#64;Component({
    selector: &#39;rj-list&#39;,
    template: `
        &lt;virtual-scroll [items]=&quot;items&quot; (update)=&quot;scrollList = $event&quot;&gt;
            &lt;div *ngFor=&quot;let item of scrollList; let i = index&quot;&gt; {{i}}: {{item}} &lt;/div&gt;
        &lt;/virtual-scroll&gt;
    `
})
export class ListComponent {

    protected items = [&#39;Item1&#39;, &#39;Item2&#39;, &#39;Item3&#39;];

    &#64;ViewChild(VirtualScrollComponent)
    private virtualScroll: VirtualScrollComponent;

    // call this function after resize + animation end
    afterResize() {
        this.virtualScroll.refresh();
    }
}</code></pre><h2 id="focus-on-an-item">Focus on an item</h2>
<p>You could use <code>scrollInto(item)</code> api to scroll into an item in the list. See below:</p>
<pre class="line-numbers"><code class="language-ts">import { Component, ViewChild } from &#39;&#64;angular/core&#39;;
import { VirtualScrollComponent } from &#39;angular2-virtual-scroll&#39;;

&#64;Component({
    selector: &#39;rj-list&#39;,
    template: `
        &lt;virtual-scroll [items]=&quot;items&quot; (update)=&quot;scrollList = $event&quot;&gt;
            &lt;div *ngFor=&quot;let item of scrollList; let i = index&quot;&gt; {{i}}: {{item}} &lt;/div&gt;
        &lt;/virtual-scroll&gt;
    `
})
export class ListComponent {

    protected items = [&#39;Item1&#39;, &#39;Item2&#39;, &#39;Item3&#39;];

    &#64;ViewChild(VirtualScrollComponent)
    private virtualScroll: VirtualScrollComponent;

    // call this function whenever you have to focus on second item
    focusOnAnItem() {
        this.virtualScroll.scrollInto(items[1]);
    }
}</code></pre><h2 id="sorting-items">Sorting Items</h2>
<p>Always be sure to send an immutable copy of items to virtual scroll to avoid unintended behavior. You need to be careful when doing non-immutable operations such as sorting:</p>
<pre class="line-numbers"><code class="language-ts">sort() {
  this.items = [].concat(this.items || []).sort()
}</code></pre><p>This will be deprecated once <a href="https://wicg.github.io/ResizeObserver/">Resize Observer</a> is fully implemented.</p>
<h2 id="contributing">Contributing</h2>
<p>Contributions are very welcome! Just send a pull request. Feel free to contact me or checkout my <a href="https://github.com/rintoj">GitHub</a> page.</p>
<h2 id="author">Author</h2>
<ul>
<li><strong>Paul Ryan</strong> (paullryan)</li>
</ul>
<p><em>Original Module:</em></p>
<ul>
<li><strong>Rinto Jose</strong> (rintoj)</li>
<li><strong>Pavel Kukushkin</strong> (kykint)</li>
</ul>
<h2 id="versions">Versions</h2>
<p><a href="https://github.com/campgroundbooking/virtual-scroll/blob/master/CHANGELOG.md">Check CHANGELOG</a></p>
<h2 id="license">License</h2>
<pre class="line-numbers"><code class="language-none">The MIT License (MIT)

Copyright (c) 2016 Rinto Jose (rintoj)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the &quot;Software&quot;), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</code></pre>













                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="./js/libs/bootstrap-native.js"></script>

       <script src="./js/libs/es6-shim.min.js"></script>
       <script src="./js/libs/EventDispatcher.js"></script>
       <script src="./js/libs/promise.min.js"></script>
       <script src="./js/libs/zepto.min.js"></script>

       <script src="./js/compodoc.js"></script>

       <script>var COMPODOC_CURRENT_PAGE_DEPTH = 0;</script>

       <script src="./js/search/search.js"></script>
       <script src="./js/search/lunr.min.js"></script>
       <script src="./js/search/search-lunr.js"></script>

       <script src="./js/tabs.js"></script>
       <script src="./js/menu.js"></script>
       <script src="./js/libs/prism.js"></script>
       <script src="./js/sourceCode.js"></script>
       <script src="./js/search/search_index.js"></script>

    </body>
</html>
